
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-content:center;
	width:100%vw;
	height:100%vw;
	background-color:skyblue;
}
.item-1{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	height:100px;
	width:100px;
	background-color:red;
	
}